.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px;
  }

.margins {
      margin: 10px;
  }

.body-box {
    padding: 30px;
    width:100%;
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

.chat-box{
    min-width: 320px;
    width: 100%;
    height:80vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    display: none;
}

.chat-space{
min-width: 300px;
width: 70%; 
height: 70vh; 
min-height: 300px;
border: 1px solid grey; 
overflow-y: scroll;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 300px;
    width: 70%; 
}

.sender {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.type-area{
    min-width: 200px;
    margin-right: 10px;
}

.login-box{
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.user-box {
    min-width: 300px;
    width: 50%; 
    height: 70vh;
    min-height: 300px;
    overflow-y: scroll;
}


.message-box-right {
    width: 100%;
    display: flex;
    align-items:flex-end;
    justify-content: flex-end;
    padding: 10px;
}

.message-box-left {
    width: 100%;
    display: flex;
    align-items:flex-end;
    padding: 10px;
}

.message-box-right  .msg-card {
    background-color: deepskyblue;
    display: flex;
    width: 70%;
    margin: 10px;
    min-width: 250px;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
}

.message-box-left  .msg-card {
    background-color: orange;
    display: flex;
    width: 70%;
    margin: 10px;
    min-width: 250px;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
}

.blue-button {
    background-color: #0099ff;
    border: none;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
  }

.red-button {
    background-color: red;
    border: none;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}

.lb-button {
    background-color: deepskyblue;
    border: none;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}

.txt-area{
    text-align: left;
    padding: 3px;
    min-width: 150;
    min-height: 20px;
    margin: 5px;
}

.user-tile{
    display: flex;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.name {
    font-size: 20px;
    font-weight: bold;
}

.time {
    font-size: 13px;
}

.msg {
    font-size: 18px;
}

.load-box{
    min-width: 320px;
    width: 100%;
    height:80vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}